# Frontend
.next/
node_modules/
.env
tsbuildinfo
next-env.d.ts

# Backend
dist/
backend/dist/
backend/node_modules/
backend/.env
backend/uploads/
backend/tsconfig.tsbuildinfo
frontend/tsconfig.tsbuildinfo
backend/src/prisma/migrations/

# Scripts
scripts/
